@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Práctico 3 .NET MVC</h1>
    <p>Práctico realizado por Emanuel Pintor.</p>
    <p>Modelo de Capas MVC. Capa de datos con persistencia. Formulario para agregar nuevos datos</p>
</div>
