@model PracticoMVC.Models.Producto

<h2 class="mb-4">Crear Producto</h2>

<div class="card shadow p-4 bg-white">
    <form asp-action="Crear" method="post">
        <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Precio:</label>
            <input asp-for="Precio" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/Producto" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
