@model List<PracticoMVC.Models.Producto>
    
<a href="@Url.Action("Crear", "Producto")">Agregar Nuevo Producto</a>

<h2>Lista de Productos</h2>
<ul>
    @foreach (var p in Model)
    {
        <li>@p.Nombre - $@p.Precio</li>
    }
</ul>
